<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script src="index.js" defer></script>
    <link rel="manifest" href="manifest.webmanifest">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Volleyball Rotations">
    <link rel="apple-touch-icon" href="icon.png">
    <link href="splashscreens/iphone5_splash.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/iphone6_splash.png"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/iphoneplus_splash.png"
        media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonex_splash.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexr_splash.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexsmax_splash.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/ipad_splash.png"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro1_splash.png"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro3_splash.png"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro2_splash.png"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />

    <title>Volleyball Rotations</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://kit.fontawesome.com/1f9e195355.js"></script>
</head>

<body class="bg-light h-100">
    <!-- Our application root element -->
    <div id="app" class="h-100">
        <b-container class="h-100 d-flex flex-column">
            <div class="row py-1 flex-grow-1">
                <!-- team 1 -->
                <div class="col">
                    <div v-if="teams[0] !== undefined" class="d-flex flex-column h-100">
                        <div class="row flex-grow-1">
                            <div class="col d-flex justify-content-center align-items-center">
                                <span>{{ teams[0].name }}</span>
                                <i class="fas fa-edit ms-2" @click="editTeam(0)"></i>
                            </div>
                        </div>
                        <div class="row flex-grow-1">
                            <player v-model="team1Position5" v-on:player-clicked="openPlayerOptions(0, 5)"></player>
                            <player v-model="team1Position4" v-on:player-clicked="openPlayerOptions(0, 4)"></player>
                        </div>
                        <div class="row flex-grow-1">
                            <player v-model="team1Position6" v-on:player-clicked="openPlayerOptions(0, 6)"></player>
                            <player v-model="team1Position3" v-on:player-clicked="openPlayerOptions(0, 3)"></player>
                        </div>
                        <div class="row flex-grow-1">
                            <player v-model="team1Position1" v-on:player-clicked="openPlayerOptions(0, 1)"></player>
                            <player v-model="team1Position2" v-on:player-clicked="openPlayerOptions(0, 2)"></player>
                        </div>
                    </div>
                    <div v-else class="d-flex flex-column h-100 justify-content-center align-items-center">
                        <b-button class="btn-lg" variant="primary" @click.prevent="setupTeam('0')">
                            <i class="fas fa-volleyball-ball mr-1"></i>
                            <i class="fas fa-users-cog"></i>
                        </b-button>
                    </div>
                </div>

                <!-- net -->
                <div class="col-1">
                    <div v-if="teams.length > 0" class="row">
                        <div class="col d-flex justify-content-center">
                            <b-button variant="danger" class="btn-sm" @click.prevent="reset()">
                                Reset
                            </b-button>
                        </div>
                    </div>
                    <div class="row h-100 mt-2">
                        <div class="col d-flex justify-content-center">
                            <div class="bg-secondary" style="height: 80%; width: 3px; border: 3px dashed black;"></div>
                        </div>
                    </div>
                </div>

                <!-- team 2 -->
                <div class="col">
                    <div v-if="teams[1] !== undefined" class="d-flex flex-column h-100">
                        <div class="row flex-grow-1">
                            <div class="col d-flex justify-content-center align-items-center">
                                <span>{{ teams[1].name }}</span>
                                <i class="fas fa-edit ms-2" @click="editTeam(1)"></i>
                            </div>
                        </div>
                        <div class="row flex-grow-1">
                            <player v-model="team2Position2" v-on:player-clicked="openPlayerOptions(1, 2)"></player>
                            <player v-model="team2Position1" v-on:player-clicked="openPlayerOptions(1, 1)"></player>
                        </div>
                        <div class="row flex-grow-1">
                            <player v-model="team2Position3" v-on:player-clicked="openPlayerOptions(1, 3)"></player>
                            <player v-model="team2Position6" v-on:player-clicked="openPlayerOptions(1, 6)"></player>
                        </div>
                        <div class="row flex-grow-1">
                            <player v-model="team2Position4" v-on:player-clicked="openPlayerOptions(1, 4)"></player>
                            <player v-model="team2Position5" v-on:player-clicked="openPlayerOptions(1, 5)"></player>
                        </div>
                    </div>
                    <div v-else class="d-flex flex-column h-100 justify-content-center align-items-center">
                        <b-button class="btn-lg" variant="primary" @click.prevent="setupTeam('1')">
                            <i class="fas fa-volleyball-ball mr-1"></i>
                            <i class="fas fa-users-cog"></i>
                        </b-button>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col">
                    <div v-if="teams[0] !== undefined" class="col d-flex justify-content-center">
                        <b-button class="btn-lg" variant="warning" @click.prevent="rotate(0)">
                            <i class="fas fa-undo fa-flip-horizontal"></i>
                        </b-button>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row" v-if="teams.length === 2">
                        <div class="col d-flex justify-content-center">
                            <b-button variant="secondary" class="btn-sm" @click.prevent="swap()">
                                <i class="fas fa-exchange-alt"></i>
                            </b-button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div v-if="teams[1] !== undefined" class="col d-flex justify-content-center">
                        <b-button class="btn-lg" variant="warning" @click.prevent="rotate(1)">
                            <i class="fas fa-undo fa-flip-horizontal"></i>
                        </b-button>
                    </div>
                </div>
            </div>
        </b-container>

        <b-modal ref="team-setup" hide-footer title="Team setup">
            <b-form autocomplete="off" @submit.prevent="submitTeam()">
                <div class="row">
                    <div class="col">
                        <b-form-input v-model="teamEntry.name" type="text" required placeholder="Team name" autofocus>
                        </b-form-input>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label>Players</label>
                        <div class="row mb-2">
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[3]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[2]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[1]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[4]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[5]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[0]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                        </div>
                    </div>
                </div>
                <b-button class="mt-2 btn-lg btn-block" type="submit" variant="primary">Confirm</b-button>
            </b-form>
        </b-modal>

        <b-modal ref="edit-team" hide-footer title="Change team">
            <b-form autocomplete="off" @submit.prevent="submitTeamChanges()">
                <div class="row">
                    <div class="col">
                        <b-form-input v-model="teamEntry.name" type="text" required placeholder="Team name">
                        </b-form-input>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label>Players</label>
                        <div class="row mb-2">
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[3]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[2]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[1]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[4]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[5]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                            <div class="col">
                                <b-form-input v-model="teamEntry.players[0]" type="text" required pattern="[0-9]*" inputmode="numeric">
                                </b-form-input>
                            </div>
                        </div>
                    </div>
                </div>
                <b-button class="mt-2 btn-lg btn-block" type="submit" variant="primary">Confirm</b-button>
            </b-form>
        </b-modal>

        <b-modal ref="player-options" hide-footer title="Player options">
            <div class="row">
                <div class="col">
                    <b-button v-if="isPlayerToUpdateCurrentlyHighlighted()" @click.prevent="unhighlight()" type="button" variant="primary">
                        Unhighlight
                    </b-button>
                    <b-button v-else class="mt-1 mb-1 btn-lg btn-block" @click.prevent="highlight()" type="button" variant="primary">
                        Highlight
                    </b-button>
                    <b-button class="mt-1 mb-1 btn-lg btn-block" @click.prevent="openSubOptions()" type="button" variant="primary">
                        Sub
                    </b-button>
                </div>
            </div>
        </b-modal>

        <b-modal ref="sub-options" hide-footer title="Substitution">
            <b-form autocomplete="off" @submit.prevent="confirmSub()">
                <div class="row">
                    <div class="col">
                        <label for="sub-for-player-number">Which player is coming on?</label>
                    </div>
                    <div class="col">
                        <b-form-input v-model="subForPlayerNumber" type="text" id="sub-for-player-number" required
                            placeholder="" pattern="[0-9]*" inputmode="numeric" autofocus>
                        </b-form-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-button class="mt-2 btn-lg btn-block" type="submit" variant="primary">Confirm</b-button>
                    </div>
                </div>
            </b-form>
        </b-modal>

        <b-modal ref="confirm-reset" hide-footer title="Reset">
            <b-form autocomplete="off" @submit.prevent="confirmReset()">
                <div class="row">
                    <div class="col">
                        Are you sure you want to start over?
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <b-button class="btn-lg btn-block" type="submit" variant="danger">Yes</b-button>
                    </div>
                    <div class="col">
                        <b-button class="btn-lg btn-block" type="button" variant="light" @click="cancelReset()">No</b-button>
                    </div>
                </div>
            </b-form>
        </b-modal>
    </div>


    <!-- Start running your app -->
    <script>
        Vue.component('Player', {
            props: ['value'],
            template:
                `<div class="col d-flex justify-content-center mt-1 mb-1">
                    <div :class="['rounded-circle', 'border', borderStyle, 'd-flex', 'justify-content-center', 'align-items-center']" @click="click()" style="background-color: white; width: 55px; height: 55px;">
                        <b>{{ value.playerNumber }}</b>
                    </div>
                </div>`,
            methods: {
                click() {
                    this.$emit('player-clicked');
                },
            },
            computed: {
                borderStyle() {
                    return this.value.isHighlighted === true ? 'border-warning' : 'border-primary';
                },
            },
        });

        window.app = new Vue({
            el: '#app',
            computed: {
                team1Position1() {
                    return this.teams[0].players.find(p => p.position === 1);
                },
                team1Position2() {
                    return this.teams[0].players.find(p => p.position === 2);
                },
                team1Position3() {
                    return this.teams[0].players.find(p => p.position === 3);
                },
                team1Position4() {
                    return this.teams[0].players.find(p => p.position === 4);
                },
                team1Position5() {
                    return this.teams[0].players.find(p => p.position === 5);
                },
                team1Position6() {
                    return this.teams[0].players.find(p => p.position === 6);
                },
                team2Position1() {
                    return this.teams[1].players.find(p => p.position === 1);
                },
                team2Position2() {
                    return this.teams[1].players.find(p => p.position === 2);
                },
                team2Position3() {
                    return this.teams[1].players.find(p => p.position === 3);
                },
                team2Position4() {
                    return this.teams[1].players.find(p => p.position === 4);
                },
                team2Position5() {
                    return this.teams[1].players.find(p => p.position === 5);
                },
                team2Position6() {
                    return this.teams[1].players.find(p => p.position === 6);
                },
            },
            data: {
                name: '',
                teams: [],
                teamEntry: {
                    number: null,
                    name: '',
                    players: [],
                },
                playerToUpdate: null,
                subForPlayerNumber: null,
            },
            methods: {
                clearTeamEntry() {
                    this.teamEntry = {
                        teamNumber: null,
                        name: '',
                        players: [],
                    };
                },
                editTeam(teamNumber) {
                    this.clearTeamEntry();
                    let teamToEdit = this.teams[teamNumber];
                    this.teamEntry.teamNumber = teamNumber;
                    this.teamEntry.name = teamToEdit.name;
                    this.teamEntry.players = teamToEdit.players.map(x => x.playerNumber);
                    this.$refs['edit-team'].show();
                },
                submitTeamChanges() {
                    let players = [];
                    for (var i = 0; i < this.teamEntry.players.length; i++) {
                        players.push({
                            playerNumber: this.teamEntry.players[i],
                            startingPosition: i + 1,
                            position: i + 1,
                            isHighlighted: false,
                        });
                    }

                    this.teams[this.teamEntry.teamNumber] = {
                        name: this.teamEntry.name,
                        players: players,
                    };

                    this.copyTeams();
                    this.$refs['edit-team'].hide();
                },
                setupTeam(teamNumber) {
                    this.clearTeamEntry();
                    this.teamEntry.teamNumber = teamNumber;
                    this.$refs['team-setup'].show();
                },
                submitTeam() {
                    let players = [];
                    for (var i = 0; i < this.teamEntry.players.length; i++) {
                        players.push({
                            playerNumber: this.teamEntry.players[i],
                            startingPosition: i + 1,
                            position: i + 1,
                            isHighlighted: false,
                        });
                    }

                    this.teams[this.teamEntry.teamNumber] = {
                        name: this.teamEntry.name,
                        players: players,
                    };

                    this.copyTeams();
                    this.$refs['team-setup'].hide();
                },
                rotate(teamNumber) {
                    let teamToRotate = this.teams[teamNumber];

                    for (var i = 0; i < teamToRotate.players.length; i++) {
                        let player = teamToRotate.players[i];
                        if (player.position === 1) {
                            player.position = 6;
                        } else {
                            player.position--;
                        }
                    }

                    this.teams[teamNumber] = teamToRotate;

                    this.copyTeams();
                },
                copyTeams() {
                    let teamsCopy = [];

                    for (var i = 0; i < this.teams.length; i++) {
                        teamsCopy.push(this.teams[i]);
                    }

                    this.teams = teamsCopy;
                },
                openPlayerOptions(teamNumber, position) {
                    this.playerToUpdate = {
                        teamNumber: teamNumber,
                        position: position,
                    };
                    this.$refs['player-options'].show();
                },
                highlight() {
                    let team = this.teams[this.playerToUpdate.teamNumber];
                    let player = team.players.find(x => x.position === this.playerToUpdate.position);
                    player.isHighlighted = true;
                    this.copyTeams();
                    this.$refs['player-options'].hide();
                },
                unhighlight() {
                    let team = this.teams[this.playerToUpdate.teamNumber];
                    let player = team.players.find(x => x.position === this.playerToUpdate.position);
                    player.isHighlighted = false;
                    this.copyTeams();
                    this.$refs['player-options'].hide();
                },
                isPlayerToUpdateCurrentlyHighlighted() {
                    if (!this.playerToUpdate) {
                        return false;
                    }
                    let team = this.teams[this.playerToUpdate.teamNumber];
                    let player = team.players.find(x => x.position === this.playerToUpdate.position);
                    return player.isHighlighted;
                },
                openSubOptions() {
                    this.$refs['player-options'].hide();
                    this.subForPlayerNumber = null;
                    this.$refs['sub-options'].show();
                },
                confirmSub() {
                    let team = this.teams[this.playerToUpdate.teamNumber];
                    let player = team.players.find(x => x.position === this.playerToUpdate.position);
                    player.playerNumber = this.subForPlayerNumber;
                    player.isHighlighted = false;
                    this.$refs['sub-options'].hide();
                },
                swap() {
                    let teamOne = this.teams[0];
                    let teamTwo = this.teams[1];

                    this.teams = [teamTwo, teamOne];
                    this.copyTeams();
                },
                reset() {
                    this.$refs['confirm-reset'].show();
                },
                confirmReset() {
                    this.teams = [];
                    this.$refs['confirm-reset'].hide();
                },
                cancelReset() {
                    this.$refs['confirm-reset'].hide();
                },
            },
        });
    </script>
</body>

</html>